comandosDePrueba.txt
.logs
.pids
venv/
services/desktopctl/src/__pycache__
services/affect/src/__pycache__
services/asr/src/__pycache__
services/conversation/src/__pycache__
services/gateway/src/__pycache__
apps/desktopctl/src/__pycache__
apps/desktop-pet-qt/src/__pycache__/
apps/desktop-pet-qt/src/avatar/__pycache__/
apps/desktop-pet-qt/src/ipc/__pycache__/
apps/desktop-pet-qt/src/ui/__pycache__/
services/tts/models/
services/tts/src/__pycache__/
services/tts/src/vtuber_tts.egg-info/
services/tts/.run/
services/tts/src/pyinject/__pycache__/
services/tts/reference/casiopy/
services/tts/_out/emotions/
