comandosDePrueba.txt
.logs
.pids
venv/
services/desktopctl/src/__pycache__
services/affect/src/__pycache__
services/asr/src/__pycache__
services/conversation/src/__pycache__
third_party/wokada
samples_0003_d2.json
samples_0003_o2.json
samples_0003_t2.json
vcclient.log
stored_setting.json
pretrain/
model_dir/
.venv-voice312
out/
services/voice/src/schemas/__pycache__
services/voice/src/__pycache__
services/voice/src/vc/__pycache__
services/voice/src/clients/__pycache__
services/voice/src/tts/__pycache__
services/voice/src/cache/__pycache__
services/conversation/src/__pycache__/
services/voice/src/vc/models/casiopy/CasiopyV1_e300.pth
services/voice/src/vc/models/casiopy/added_IVF1349_Flat_nprobe_1_Casiopy_v2.index
services/conversation/src/__pycache__/llm_ollama.cpython-313.pyc
